{% extends 'base.html.twig' %}
{# TODO #}
{% block title %}Prezently - edytuj prezent{% endblock %}

{% block body %}

    <div class="content">
        <div class="subtitle row">
            <div class="subtitle_btn col-3">
                <a href="{{ path('app_event_show', {'selector': event.selector}) }}"><p><- Powrót do wydarzenia</p></a>
            </div>
            <h1 class="title col-6">Edytuj prezent</h1>
            <div class="subtitle_btn col-3">
                {{ include('gift/_delete_form.html.twig') }}
            </div>
        </div>
        <div class="sing-in-up offset-3 col-6">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.category) }}
            <div id="form_gift_event">
                {{ form_row(form.event) }}
            </div>
            <button type="submit" class="dark-btn">Zapisz</button>
            {{ form_end(form)}}
        </div>
    </div>



{% endblock %}
