{% extends 'base.html.twig' %}

{% block title %}Prezently - dodawanie prezentu{% endblock %}

{% block body %}
    <div class="content">
        <div class="subtitle row">
            <div class="subtitle_btn col-3">
                <a href="{{ path('app_event_show', {selector: event.selector}) }}"><p><- Powrót do wydarzenia</p></a>
            </div>
            <h1 class="title col-6">Dodaj prezent</h1>
        </div>
        <div class="sing-in-up offset-3 col-6">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.category) }}
            <div id="form_gift_event">
                {{ form_row(form.event) }}
            </div>
            <button type="submit" class="dark-btn">Dodaj</button>
            {{ form_end(form)}}
        </div>
    </div>




{#    <a href="{{ path('app_gift_index') }}">back to list</a>#}
{% endblock %}
