{% extends 'base.html.twig' %}

{% block title %}Questionnaire index{% endblock %}

{% block body %}
    <h1>Questionnaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>EndDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for questionnaire in questionnaires %}
            <tr>
                <td>{{ questionnaire.id }}</td>
                <td>{{ questionnaire.endDate ? questionnaire.endDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_questionnaire_show', {'id': questionnaire.id}) }}">show</a>
                    <a href="{{ path('app_questionnaire_edit', {'id': questionnaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('app_questionnaire_new') }}">Create new</a>#}
{% endblock %}
