{% extends 'base.html.twig' %}

{% block title %}New Questionnaire{% endblock %}

{% block body %}
    <div  class="content row">
        <div class="subtitle row title">
            <h2>Czy chcesz utworzyć ankietę?</h2><br><br>
            <h4>Dzięki wybraniu pakietu Pro masz możliwość utworzenia ankiety przed rozpoczęciem Twojego wydarzenia</h4><br><br>
            <h5>Jeżli nie możesz się zdecydować które prezenty umieścić w zbiórce możesz utworzyć ankietę, w której zapytasz znajomych o ich zdanie.</h5>
        </div>
        <div class="sing-in-up questionnaire offset-1 col-5">
            <div>
                <h4 class="">Tak chcę utworzyć ankietę</h4>
                <h6>Czas trwania ankiety zależy od daty końcowej wydarzenia</h6>
                <h6>Data zakończenia ankiety: {{ qEndDate }}</h6><br>
                {{ form_start(form) }}
                {{ form_row(form.endGiftAmount) }}
                <div id="form_gift_event">
                    {{ form_row(form.endDate) }}
                    {{ form_row(form.eventId) }}
                </div>
                <button type="submit" class="dark-btn">Zapisz</button>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="sing-in-up no_questionnaire col-5">
            <div>
                <h4 class="title">Nie chcę tworzyć ankiety</h4>
                <a href="{{ path('app_event_show', {'id': eventId}) }}" class="bright-btn">Przejdź do wydarzenia</a>
            </div>

        </div>

    </div>

{% endblock %}
