{% extends 'base.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{% block body %}
    <div class="content">
        <div class="subtitle row">
            <div class="title offset-3 col-6">
                <h1>Ankieta</h1>
                <h4>{{ questionnaire.eventId.name }}</h4>
            </div>

            {% if isUserACreator %}
            <div class="subtitle_btn col-3">
                <a href="{{ path('app_gift_in_questionnaire_new',{questionnaireId: questionnaire.id} ) }}" class="dark-btn col-1">Dodaj prezent do ankiety</a>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="questionnaire col-4">
                <h4 class="title">Zagłosuj</h4>
                {#            TODO: Formularz do głosowania #}
            </div>

            <div class="event_gifts event_section row col-7" id="event_gifts">
                <div class="row">
                    <h4 class="title">Prezenty</h4>
                    {% for gift in questionnaire.giftsInQuestionnaire %}
                        <div class="col-3 event_gift">
                            <img class="event_gift_img img-fluid" src="{{ asset('build/images/' ~ gift.getCategory().getImagePath() ) }}" alt="Zdjęcie prezentu">
                            <div class="event_gift_prices">
                                <h5 class="bold">{{ gift.name }}</h5>
                                <p id="endprice">{{ gift.price }} zł</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


{#        <a href="{{ path('app_questionnaire_index') }}">back to list</a>#}

{#        <a href="{{ path('app_questionnaire_edit', {'id': questionnaire.id}) }}">edit</a>#}

{#        {{ include('questionnaire/_delete_form.html.twig') }}#}
    </div>

{% endblock %}
