{% extends 'base.html.twig' %}

{% block title %}Ankieta - {{ questionnaire.eventId.name }}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="text-center alert alert-success ">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="text-center alert alert-warning ">
            {{ message }}
        </div>
    {% endfor %}
    <div class="content">
        <div class="subtitle row">
            <div class="col-3">
                <p>Data zakończenia ankiety:</p>
                <p>{{questionnaire.endDate.format('d-m-Y')}}</p>
            </div>
            <div class="title col-6">
                <h1>Ankieta</h1>
                <h4>{{ questionnaire.eventId.name }}</h4>
            </div>

            {% if isUserACreator %}
            <div class="subtitle_btn col-3">
                <a href="{{ path('app_gift_in_questionnaire_new',{questionnaireId: questionnaire.id} ) }}" class="dark-btn col-1">Dodaj prezent do ankiety</a>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="questionnaire col-4">
                <div>
                    <h4 class="title">Zagłosuj</h4>
                    {{ form_start(form) }}
                    {{ form_row(form.gifts) }}
                    <button type="submit" class="dark-btn">Wyślij</button>
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="event_gifts event_section col-7" id="event_gifts">
                <h4 class="title">Prezenty</h4>
                <div class="row gifts_in_questionnaire">
                    {% for gift in questionnaire.giftsInQuestionnaire %}
                        <div class="col-3">
                            <img class="event_gift_img img-fluid" src="{{ asset('build/images/' ~ gift.getCategory().getImagePath() ) }}" alt="Zdjęcie prezentu">
                            <div class="event_gift_prices">
                                <h5 class="bold">{{ gift.name }}</h5>
                                <p id="endprice">{{ gift.price }} zł</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


{#        <a href="{{ path('app_questionnaire_index') }}">back to list</a>#}

{#        <a href="{{ path('app_questionnaire_edit', {'id': questionnaire.id}) }}">edit</a>#}

{#        {{ include('questionnaire/_delete_form.html.twig') }}#}
    </div>

{% endblock %}
